header{
  background-color: rgb(165, 42, 42);
  padding: 0.5vw;
  }
 h1{
  color: aliceblue;
 }
 h3{
  color:rgb(11, 11, 12);
 }
 header .UpNav{
  color:rgb(245, 11, 30);
  background-color: rgb(185, 100, 105);
 }
 header .UpNav a{ color:yellow;
 }
 header .UpNav:hover{
  color:rgb(245, 11, 30);
  background-color: rgb(3, 3, 3);
 }
 body {
  background-color: rgb(255, 228, 196);
  direction:rtl;
  line-height:1.5em;
  /* font-size: 1.5rem; */
  font-family: 'Amiri';
  font-size: 3vw;
  padding:1.2vw 1.2vw;
  min-height: 50vh;
  text-align: right;
  clear: both;
  } 
  body .st{
  padding: 2vw;
  float :right;
  width: 15%;
  }
  body .nd{
  padding: 2vw;
  float :right;
  width: 15%;
  }
  body .rd{
  padding: 2vw;
  float :right;
  width: 15%;
  }
  body .th{
  padding: 2vw;
  float :right;
  width: 15%;
  }
 a{
 text-decoration: none;
 }
 ol {list-style: arabic-indic;
 }
 li{ list-style-type:arabic-indic;}
 li .nf{
 color: rgb(158, 113, 14);
 }
 li .ff{
 color: rgb(22, 177, 55);
 }
 li .pcf{
  color: rgb(95, 63, 223);
 }
 footer{
  color: rgb(255, 255, 255);
  background-color: brown;
  text-align: center;
  clear: both;
  padding: 1vw;
 }
 footer a{color: rgb(0, 255, 106);}
 .pic{
  align-items: stretch;
 }