body {
	direction:rtl;
	background-color: hsla(195, 29%, 97%, 0.829);
	line-height:1.5em;
	font-size: 1.5rem;
	font-family: 'Amiri';font-size: 22px;
	padding:2px 2px;
	min-height: 50vh;
	text-align: right;
	width: 60%;
	
	 }		
	
a{
text-decoration: none;
}
ol {list-style: arabic-indic;
}
li{ list-style-type:arabic-indic;}

li .nf{
color: rgb(196, 199, 197);
}
li .ff{
color: rgb(22, 177, 55);
}


footer {
background-color: hsla(305, 46%, 86%, 0.116);
line-height:1.5em;
font-size: 1.5rem;
padding:2px 2px;
min-height: 50vh;
text-align: center;
width: 100%;

 }	
