header{
	color:rgb(241, 242, 233);
	background-color: rgba(70, 40, 3, 0.318);
	/* font-family: 'Times New Roman', Times, serif; */
	margin: 0%;
	padding-left: 0%;
	
}
body {	
        position: relative;
		margin: 3%;
		padding: 3%;
		direction:rtl;
		background-color: bisque;
		line-height:1.5em;
		font-size: 6vw; /* Adjust font size relative to viewport width */
		font-family: 'Amiri';
		font-weight: bold;
		/* min-height: 50vh; */
		/* text-align: left; */
		text-align-last: center;
		/* max-width:100%;
		width: auto; */
		
	}

p 	{	position: relative;
		display: inline-block;
		color:rgb(8, 8, 8);
		/* text-size-adjust: auto; */
		/* text-align: left;	 */
		cursor:zoom-in;
		margin: 0.5em; /* Add margin for better spacing */
	}

	p a {	
			display:inline-block;
			background-color:rgb(20, 6, 13);
			color: #f3ff87;
			/* width:max-content; */
			/* font-size: 16px; */
			font-size: 3vw; /* Adjust font size relative to viewport width */
			font-family: 'Times New Roman', Times, serif;
			align-content: center;
            line-height: normal;
			padding: 0.5em; /* Adjust padding for better touch interaction */
			/* Position the tooltip */
			visibility: hidden;
			position: absolute;
			border-radius: 15%;
			/* z-index: auto; */
			/* top: -35px; */
			/* right: 3%;		 */
		}
body a{
		text-decoration: none;
		} 
p:hover a {visibility: visible;}

			
body li {list-style-type:arabic-indic;}
		

body p	{	direction: rtl;	}
p:hover{color:rgb(150, 25, 77); }

nm{ color: #c26334; }

h3{
	color: rgb(36, 130, 181);
	text-align: center;
	line-height:1.25em;
    font-size: 4vw; /* Adjust font size relative to viewport width */
	font-family: 'Amiri';
}

#stand {
	visibility: hidden;
}

return button{
	color: #eaf0ec;
	background-color: rgb(149, 93, 24);
    font-size: 3vw; /* Adjust font size relative to viewport width */
    padding: 0.5em; /* Adjust padding for better touch interaction */
    border-radius: 10px; /* Adjust border radius for better appearance */
}
return a{
	color: rgb(255, 255, 255);
	background-color: rgba(25, 94, 13, 0.764);
	text-decoration: none;
	font-size: 3vw; /* Adjust font size relative to viewport width */
    padding: 1em; /* Adjust padding for better touch interaction */
    border-radius: 20px; /* Adjust border radius for better appearance */
}
